<div class="row">
  <div class="col-md-12">
    <h2><%= link_to article.title, article -%></a></h2>
    <p><%= article.description -%></p>
    <% if admin_user? %>
      <%= link_to 'Obliterate Article', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
