<div class="container">
  <%= render @categories %>
</div>

<div class="container">
  <div class="jumbotron">
    <p>The purpose of <em>Minecraft for Parents</em> is to provide parents (and kids) with the knowledge to get the most out of Minecraft. We think we've covered all of the important topics but there's still a few articles we're working on and hope to have posted soon. The majority of the information contained on this site is specifically for the computer version of Minecraft. Most instructions are from a Mac OS X point of view since that's what we use here. That shouldn't be a problem since many tasks are the same between OS X and Windows. We hope to have Windows-specific instructions where appropriate in the future.</p>

    <p>Read our <a href="http://sandmoose.com/post/92476600327/introducing-minecraft-for-parents">Introducing... Minecraft for Parents</a> blog post for more information on why we created this site and what our hopes for it are.</p>

    <p>We'd love to hear your feedback. Did we get something wrong? Is there something we didn't cover that you would like us to? Let us know at <a href="mailto:minecraftforparents.info@gmail.com">minecraftforparents.info@gmail.com</a>.</p>
  </div>
</div>

<% if admin_user? %>
  <div class="container">
    <div class="col-md-12">
      <hr size="1"/>
      <%= link_to 'New Category', new_category_path, class: "btn btn-default" -%>
    </div>
  </div>
<% end %>
