<div class="container">

  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>The purpose of <em>Minecraft for Parents</em> is to provide parents (and kids) with the knowledge to get the most out of Minecraft. We think we've covered all of the major areas but there's still a few articles we're working on and hope to have posted soon. The majority of the information contained here is specifically for the computer version of Minecraft and most instructions are from a Mac OS X point of view. While that shouldn't be a problem since many tasks are the same between OS X and Windows, we hope to provide Windows-specific instructions where appropriate in future updates.</p>
  </div>

  <%= render @categories %>

</div>

<% if admin_user? %>
  <div class="container">
    <div class="col-md-12">
      <hr size="1"/>
      <%= link_to 'New Category', new_category_path, class: "btn btn-default" -%>
    </div>
  </div>
<% end %>
