<div class="container">
  <!-- <div class="page-header"> -->
    <h2><%= @category.name -%></h2>
  <!-- </div> -->
</div>

<div class="container">
  <% cache ["articles_for_category_#{@category.id}", !!current_user] do %>
    <%= render @category.articles %>
  <% end %>

  <% if admin_user? %>
    <hr size="1"/>
    <%= link_to 'New Article', new_article_path, :class => 'btn btn-default' %>
  <% end %>
</div>
